* {
  /* border: 1px solid red; */
}
body {
  --twitter-primary-color: #1da1f2;
  --twitter-secondary-color: #e8f5fe;
  --twitter-border-color: #e6ecf0;
  --twitter-text-color: #14171a;
  --twitter-text-alternative: #657786;
  --twitter-icon-hover-color: #1da1f21a;
}

.app {
  display: flex;
  /* height: 100vh; */
  max-width: 1300px;
  margin: auto;
  color: var(--twitter-text-color);
}

.avatar--large {
  width: 50px !important;
  height: 50px !important;
}

.baseTwitterButton {
  background-color: var(--twitter-primary-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  height: 50px !important;
  margin-top: 10px !important;
  border-radius: 30px !important;
}
