* {
  /* border: 1px solid red; */
}
body {
  --twitter-primary-color: #1da1f2;
  --twitter-secondary-color: #e8f5fe;
  --twitter-border-color: #e6ecf0;
  --twitter-text-color: #14171a;
  --twitter-text-alternative: #657786;
  --twitter-icon-hover-color: #1da1f21a;
  --twitter-box-color: #f5f8fa;
}

.app {
  display: flex;
  /* height: 100vh; */
  max-width: 1300px;
  margin: auto;
  color: var(--twitter-text-color);
}

.avatar--large {
  width: 50px !important;
  height: 50px !important;
}

.baseTwitterButton {
  background-color: var(--twitter-primary-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  height: 50px !important;
  border-radius: 30px !important;
}

.baseTwitterIconButton {
  color: var(--twitter-primary-color) !important;
}
.baseTwitterIconButton.MuiIconButton-root {
  padding: 7px !important;
}

.baseTwitterIconButton:hover {
  background-color: var(--twitter-icon-hover-color) !important;
}

.sectionTitle {
  font-size: 19px;
  font-weight: 800;
}

.baseTransition {
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-property: all;
}

.baseTransition:hover {
  background-color: #00000008;
  cursor: pointer;
}
