.feed {
  border-left: 1px solid var(--twitter-border-color);
  border-right: 1px solid var(--twitter-border-color);
  width: 600px;
  display: table-cell;
  /*Hide scrollbar for IE, Edge, Safari and Firefox*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*Hide scrollbar for chrome, Safari and Opera*/
.feed::-webkit-scrollbar {
  display: none;
}

.feed__head {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
  height: 50px;
  padding: 0 15px;
  position: sticky;
  z-index: 100;
  top: 0;
  background: white;
  border-bottom: 1px solid var(--twitter-border-color);
}

.feed__head > h2 {
  font-size: large;
  font-weight: 800 !important;
  flex: 1;
}

.feed__head > .MuiSvgIcon-root {
  color: var(--twitter-primary-color);
  padding: 0 5px;
}
