.post {
  padding: 12px;
  display: flex;
  border-bottom: 1px solid var(--twitter-border-color);
  padding-bottom: 0;
}

.post:hover {
  background-color: var(--twitter-box-color);
  cursor: pointer;
}

.post__headerInfo {
  display: flex;
  color: var(--twitter-text-alternative);
}

.post__avatar {
  margin-right: 10px;
}

.post__displayName {
  font-size: 15px;
  font-weight: 700;
  color: var(--twitter-text-color);
}

.post__userName {
  margin-left: 5px;
}

.post__dotSeparator {
  padding: 0 5px;
  line-height: 12px;
}

.post__setting {
  color: var(--twitter-text-alternative) !important;
}

.post__setting.MuiIconButton-root {
  padding: 0px !important;
  margin-left: auto;
}

.post__message {
  overflow-wrap: anywhere;
}

.post__message a {
  color: var(--twitter-primary-color) !important;
  margin: 0 2px;
  text-decoration: none;
}

.post__message a:visited {
  color: var(--twitter-primary-color) !important;
}

.post__message > a:hover {
  text-decoration: underline;
}

.post__image {
  margin-top: 10px;
  height: 290px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #ccd6dd;
}

.post__image > img {
  width: 100%;
}

.post__option {
  display: flex;
  justify-content: space-between;
  max-width: 425px;
  margin: 5px 0;
}

.post__option .MuiIconButton-root {
  color: #657786 !important;
}

.post__retweet:hover {
  color: #17bf63 !important;
  background-color: #17bf631a !important;
}

.post__like:hover {
  color: #e0245e !important;
  background-color: #e0245e1a !important;
}

@media (max-width: 684px) {
  .post__image {
    height: 42vw;
  }
}
