.sidebar {
  width: 250px;
  margin-top: 10px;
  padding-left: 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-primary-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  height: 50px !important;
  margin-top: 10px !important;
  border-radius: 30px !important;
  width: 90%;
}

.sidebar__twitterIcon {
  color: var(--twitter-primary-color);
  margin-left: 20px;
}
