.sidbarOption {
  cursor: pointer;
  display: flex;
}

.sidebarOption__wrapper {
  display: flex;
  margin: 3px 10px;
  align-items: center;
  padding: 12px 20px 12px 5px;
  transition: 0.1s ease-in-out;
}

.sidbarOption:hover > .sidebarOption__wrapper {
  background-color: var(--twitter-secondary-color);
  border-radius: 30px;
  color: var(--twitter-primary-color);
}

.sidbarOption__icon {
  padding: 0px 15px 0px 5px;
}

.sidbarOption__text {
  font-size: large;
  font-weight: 700;
}

.sidbarOption--active {
  color: var(--twitter-primary-color);
}
