.sidebar {
  /* flex: 0.5; */
  /* min-width: 100px; */
  border-right: 1px solid var(--twitter-border-color);
  margin-top: 20px;
  padding: 0px 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-primary-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  height: 50px !important;
  margin-top: 10px !important;
  border-radius: 30px !important;
}

.sidebar__twitterIcon {
  color: var(--twitter-primary-color);
  margin-left: 20px;
}
