.sidbarOption {
  cursor: pointer;
  display: flex;
}

.sidebarOption__wrapper {
  display: flex;
  margin: 3px 10px;
  align-items: center;
  padding: 12px 20px 12px 5px;
  transition: 0.1s ease-in-out;
}

.sidbarOption:hover > .sidebarOption__wrapper {
  background-color: var(--twitter-secondary-color);
  border-radius: 30px;
  color: var(--twitter-primary-color);
}

.sidbarOption__icon {
  padding: 0px 10px 0px 10px;
  font-size: 26px !important;
}

.sidbarOption__text {
  font-size: 19px;
  font-weight: 700;
  margin-left: 10px;
}

.sidbarOption--active {
  color: var(--twitter-primary-color);
}

@media (max-width: 1282px) {
  .sidbarOption__text {
    display: none;
  }

  .sidebarOption__wrapper {
    padding: 9px 0 9px 0;
  }

  .sidbarOption:hover > .sidebarOption__wrapper {
    padding: 9px 0 9px 0;
  }
}
