.trendList {
  background-color: var(--twitter-box-color);
  border-radius: 15px;
  width: 350px;
  display: table-cell;
  position: fixed;
  top: 60px;
}

.trendList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--twitter-border-color);
  padding: 3px 9px 3px 15px;
}

.trendList__showmore {
  padding: 15px;
  color: var(--twitter-primary-color);
}
