.trends {
  background-color: var(--twitter-box-color);
  border-radius: 15px;
}

.trends__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--twitter-border-color);
  padding: 7px 9px 7px 15px;
}

.trend__showmore {
  padding: 15px;
  color: var(--twitter-primary-color);
}
