.twitterBox {
  display: flex;
  padding: 12px;
  border-bottom: 10px solid #e6ecf0;
}

.twitterBox__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.twitterBox__input {
  overflow: hidden;
  margin: 0px;
  resize: none;
  border: none;
  outline-width: 0;
  font-size: 19px;
  padding: 5px 5px 10px 5px;
  margin-left: 5px;
  font-family: inherit;
  color: inherit;
  border-bottom: 1px solid var(--twitter-border-color);
}

.twitterBox__option {
  display: flex;
  margin-top: 5px;
}

.twitterBox__option > .MuiIconButton-root {
  padding: 7px !important;
}

.twitterBox__submit {
  margin-left: auto !important;
  height: 40px !important;
}
